@charset "UTF-8";
/*************/
/*************/
/*reset*/
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
  font-family: Arial,'Times New Roman','Microsoft YaHei',SimHei;
  font: normal, 16px/1em Arial,'Times New Roman','Microsoft YaHei',SimHei;
}

body {
  position: relative;
}

.loader {
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}

.loader.loader--fade {
  opacity: 0;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -25%;
  width: 25%;
  height: 3px;
  background-color: #005f9f;
  -webkit-animation: loading 5s linear infinite;
          animation: loading 5s linear infinite;
}

@-webkit-keyframes loading {
  from {
    left: -25%;
  }
  to {
    left: 125%;
  }
}

@keyframes loading {
  from {
    left: -25%;
  }
  to {
    left: 125%;
  }
}

.okayNav__nav--invisible.nav-open {
  background-color: rgba(0, 0, 0, 0.7);
}

.okayNav__nav--invisible a {
  display: block;
  width: 240px;
  padding: 15px;
  /*background: #fff; */
}

#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: transparent;
}

#header a {
  color: #fff;
  text-decoration: none;
}

#header a:hover {
  color: #5db5dd;
}

#header .site-logo {
  margin-left: 50px;
}

#header.fixed {
  background-color: rgba(0, 0, 0, 0.7);
}

#header.fixed a {
  color: #fff;
}

#nav-main {
  background: transparent;
}

#nav-main.fixed {
  background-color: transparent;
}

#header .okayNav__menu-toggle {
  color: #fff;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.swiper-container {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  margin: 0;
  padding: 0;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.filter {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-slide h1 {
  z-index: 200;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: left;
}

.swiper-slide h3 {
  z-index: 200;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  text-align: left;
  font-size: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #005f9f;
}

.work-for {
  margin-top: 100px;
}

.work-for h1 {
  margin-bottom: 20px;
}

.work-for .row {
  margin-top: 100px;
}

.work-for .row .col-md-6 img {
  width: 90%;
  height: 800px;
}

.work-for .row .col-md-6 .work-filter {
  background: rgba(255, 255, 255, 0.3);
  z-index: 200;
  width: 90%;
  position: absolute;
  top: 0;
  left: -5px;
  height: 800px;
}

.work-for .row .col-md-6 h1 {
  margin-top: 100px;
}

.work-for .row .col-md-6 h3 {
  width: 500px;
}

.work-for .row .col-md-6 .col-md-6 {
  margin-bottom: 50px;
}

.work-for .row .col-md-6 .col-md-6 i {
  font-size: 60px;
  color: #5db5dd;
  margin-bottom: 20px;
}

.we-do {
  margin-top: 100px;
}

.we-do h1 {
  margin-bottom: 100px;
}

.we-do .row .col-md-10 .round {
  margin: 0 auto;
  text-align: center;
  border: 5px solid #5db5dd;
  color: #5db5dd;
  font-size: 60px;
  height: 150px;
  width: 150px;
  line-height: 150px;
  border-radius: 50%;
  transition: .2s,ease;
}

.we-do .row .col-md-10 .round:hover {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

/*news*/
.news {
  margin-top: 100px;
  padding: 0;
}

.news h1 {
  margin-bottom: 20px;
}

.news .next-title {
  margin-bottom: 100px;
}

.news h4 {
  margin-bottom: 10px;
}

.news p {
  font-size: 14px;
}

.news p a {
  font-size: 12px;
  text-decoration: none;
}

.news .up-down {
  margin-bottom: 5px;
}

.news .col-md-4 .col-md-4 img {
  width: 100%;
  height: 135px;
  margin: 0;
  padding: 0;
}

.news .col-md-4 .col-md-6 img {
  width: 100%;
  height: 280px;
  margin: 0;
  padding: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}

/*news end*/
/*case*/
.case {
  margin: 100px 0 0 0;
}

.title h1 {
  margin-bottom: 20px;
}

.case .next-title {
  margin-bottom: 100px;
}

/*第二个轮播*/
.sec-swiper {
  width: 98%;
  height: 200px;
  margin-top: 10px;
}

.sec-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.sec-swiper .swiper-slide:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.sec-swiper .swiper-slide img {
  width: 100%;
  height: 300px;
}

.sec-swiper .swiper-slide .sec-filter {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

.sec-swiper .swiper-slide p {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 200;
  width: 70%;
  font-size: 16px;
}

/*case end*/
/*About Us*/
.about {
  margin-top: 100px;
}

.about h1 {
  margin-bottom: 20px;
}

.about .next-title {
  margin-bottom: 100px;
}

.thr-swiper {
  width: 90%;
  height: 100px;
  margin-top: 10px;
}

.thr-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: .5s,ease;
}

.thr-swiper .swiper-slide:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.thr-swiper .swiper-slide img {
  width: 100%;
  height: 100px;
}

.thr-swiper .swiper-slide .sec-filter {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

.sec-swiper .swiper-slide p {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 200;
  width: 70%;
  font-size: 16px;
}

/*About Us end*/
.contact {
  margin-top: 100px;
  margin-bottom: 20px;
}

/*footer*/
footer {
  margin-top: 100px;
  height: 500px;
  background-image: url("../../img/16.jpg");
  background-size: cover;
}

footer .thr-filter {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
}

footer .row {
  padding: 100px 0;
  background-size: cover;
  height: 500px;
}

footer h1 {
  margin-bottom: 20px;
}

footer h4 {
  margin-bottom: 100px;
}

footer .thr-filter .row .col-md-5 {
  padding-right: 100px;
}

footer .thr-filter .row .col-md-5 h1 {
  z-index: 300;
  color: #fff;
  margin-top: 100px;
}

footer .thr-filter .row .col-md-5 p {
  z-index: 300;
  color: #fff;
}

footer .thr-filter .row .col-md-5 label {
  color: #fff;
}

footer input,
textarea {
  outline: none;
}

.footer-down {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100px;
  line-height: 100px;
  position: relative;
}

.footer-down .toUp {
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 75px;
  right: 100px;
  background-color: #000;
  padding: 0 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
}

.footer-down .toUp:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.footer-down .toUp {
  -webkit-transition: 0.2s ease;
}

/*footer end*/
.cop-news {
  margin-top: 100px;
}

.cop-news h1 {
  margin-bottom: 20px;
}

.cop-news h4 {
  margin-bottom: 100px;
}

.cop-news .row .col-md-4 img {
  width: 100%;
  margin: 20px 0;
}

.cop-news .three {
  margin-bottom: 100px;
}

#case-header {
  background: rgba(0, 0, 0, 0.9);
}

#case-header a {
  color: #fff;
  text-decoration: none;
}

#case-header a:hover {
  color: #5db5dd;
}

.container {
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
}

.container .col-md-10 h1 {
  margin-bottom: 100px;
}

.container .col-md-10 p {
  text-align: justify;
  text-indent: 2em;
}

.about-pic {
  background: url("../../img/32.jpg") no-repeat center;
  background-size: cover;
}

.about-pic .about-filter {
  background-color: rgba(0, 0, 0, 0.6);
  height: 400px;
  width: 100%;
}

.about-company .row .col-md-6 {
  text-align: center;
}

.about-company .row .col-md-6 img {
  width: 100%;
}

.about-company .row .col-md-6 h1 {
  margin-top: 200px;
  margin-bottom: 80px;
}

.about-company .row .col-md-6 p {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.about-company .row .col-md-6 .row .col-md-6 {
  padding: 30px;
}

.about-company .row .col-md-6 .row .col-md-6 i {
  font-size: 60px;
  color: #5db5dd;
  margin-bottom: 20px;
}

.about-company .row .col-md-6 .row .col-md-6 p {
  width: 100%;
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 20px;
}

.about-member {
  margin-bottom: 100px;
}

.about-member h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.about-member .ll-title {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.about-member .row .col-md-10 .col-md-3 .content {
  border-radius: 5px 5px 0 0;
  text-align: center;
  background-color: #c4e3f5;
}

.about-member .row .col-md-10 .col-md-3 .content .member-image {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 60px 0;
  margin-top: -70px;
}

.about-member .row .col-md-10 .col-md-3 .content .member-image img {
  max-width: 100%;
  transition: 0.3s;
  border-radius: 60px 0;
}

.about-member .row .col-md-10 .col-md-3 .content .member-info h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0;
  text-align: center;
  text-transform: uppercase;
}

.about-member .row .col-md-10 .col-md-3 .content .member-info h5 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 15px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}

.about-member .row .col-md-10 .col-md-3 .content .member-info p {
  text-align: justify;
  text-indent: 2em;
  margin: 0 20px 0px 20px;
  padding-bottom: 20px;
}

.about-member .row .col-md-10 .col-md-3 .content .member-info .social-icon {
  background-color: #5db5dd;
  transition: 0.3s;
  position: absolute;
  left: -2px;
  bottom: 0;
  height: 5px;
  width: 94%;
  margin: 0 10px;
}

.about-member .row .col-md-10 .col-md-3 .content .member-info .social-icon a {
  font-size: 24px;
  color: #fff;
  margin: 0 25px;
  padding-top: 8px;
  display: none;
}

.about-member .row .col-md-10 .col-md-3 .content .member-info .social-icon a:hover {
  text-decoration: none;
  color: #fff;
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.about-member .row .col-md-10 .col-md-3 .content:hover .member-image {
  border-color: #5db5dd;
  transition: 0.3s;
  border-radius: 50%;
}

.about-member .row .col-md-10 .col-md-3 .content:hover .member-image img {
  transition: 0.3s;
  border-radius: 50%;
}

.about-member .row .col-md-10 .col-md-3 .content:hover .social-icon {
  transition: 0.3s;
  height: 38px;
}

.about-member .row .col-md-10 .col-md-3 .content:hover .social-icon a {
  display: inline-block;
  vertical-align: middle;
}

.about-team .row .col-md-3 img {
  width: 100%;
  height: 280px;
}

.about-team .row .col-md-3 .team-filter {
  background-color: rgba(0, 0, 0, 0.8);
  height: 280px;
  position: absolute;
  top: 0;
  left: 8px;
  z-index: 200;
  width: 95%;
  padding: 0;
  margin: 0;
  display: none;
}

.about-team .row .col-md-3 h4 {
  position: absolute;
  width: 150px;
  margin-left: 70px;
  margin-top: -140px;
  color: #fff;
  z-index: 500;
  line-height: 1.5em;
  display: none;
}

#contact-header {
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

#contact-header a {
  color: #fff;
  text-decoration: none;
}

#contact-header a:hover {
  color: #5db5dd;
}

#map {
  width: 100%;
  height: 450px;
  border: #ccc solid 1px;
  font-size: 12px;
}

.contact-by h1.title {
  text-align: center;
  margin: 100px 0;
}

.contact-by .row .col-md-8 .col-md-4 {
  text-align: center;
}

.contact-by .row .col-md-8 .col-md-4 i {
  color: #5db5dd;
  font-size: 50px;
  margin-bottom: 40px;
}

.contact-by .row .col-md-8 .col-md-4 h2 {
  margin-bottom: 20px;
}

.contact-message {
  width: 800px;
  margin: 0 auto;
}

.contact-message h1 {
  margin: 100px 0;
  text-align: center;
}

.contact-message form {
  margin-bottom: 100px;
}
